body {
  margin: 0;
  background-image: url(https://images.unsplash.com/photo-1605801495512-f47a64d01f4f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

p {
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
}

.title, .description {
  font-size: 24px;
}

p.big {
  margin: 0;
  font-size: 180px;
  line-height: 1;
  color: rgba(0,0,0,0.75);
}

.card {
  position: relative;
  margin: 10vh auto 40vh auto;
  padding: 10px 20px;
  min-width: 100px;
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.demo {
  max-width: 1024px;
  margin: 32px auto;
  padding: 48px 4%;
}

.project--impression {
  width: -moz-fit-content;
  width: fit-content;
}

.project--impression hr {
  border-style: dashed;
  color: lemonchiffon;
}

.project--impression h1 {
  margin-bottom: 12px;
  font-size: 40px;
  color: lemonchiffon;
  text-shadow: 1px 1px 5px white;
}

.project--impression h3 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: white;
  line-height: 1.5;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.project--impression .hairline, .project--impression .outline {
  font-family: Bungee Hairline, Helvetica, serif;
}

.project--impression .outline.light {
  font-family: Bungee Outline, Helvetica, serif;
  text-shadow: 1px 1px 5px lemonchiffon;
}

.scroll-down {
  margin-top: 75px;
  font-family: Bungee Hairline, Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px white;
}

.scroll-down .arrow {
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  letter-spacing: -2px;
  opacity: 0.2;
}

.immediately-appear--impression {
  width: 410px;
}

.middle-non-impression {
  width: 460px;
}

.last--impression {
  width: 398px;
}

.bottom-drawer {
  display: none;
  margin: 0;
  padding: 1px;
}

.bottom-drawer.show {
  display: block;
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
}

.bottom-drawer.show .drawer-content {
  max-width: 1024px;
  margin: 72px auto;
  font-size: 16px;
  color: white;
}

p.notes, .drawer-content ol li {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

.drawer-content ol {
  padding-inline-start: 18px;
}

.drawer-content a {
  color: white;
  font-weight: bold;
  text-decoration: underline 3px solid lemonchiffon;
}

.section {
  margin: 5% 0;
}

.section h1 {
  font-family: Bungee Hairline, Arial, sans-serif;
  color: lemonchiffon;
  text-shadow: 1px 1px 5px rgba(255,255,255,0.8);
}

.section ul li {
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

#toast-container {
  position: fixed;
  bottom: 0;
  right: 0;
  direction: rtl;
}

.toast {
  margin: 10px 20px;
  padding: 20px 40px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
  background-color: rgba(0,0,0,0.6);
  color: white;
  border-radius: 40px;
  text-align: center;
  animation: 0.5s ease-out 0s 1 slideUp;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

img[usemap="#fork-me"] {
  position: fixed;
  top: 0;
  right: 0;
}
